doc/user.pdf
doc/user.ps
doc/user/

doc/reference.pdf
doc/reference.ps
doc/reference/

doc/pipeline.eps
doc/definitions.png
doc/definitions.eps
doc/declt-user-data/definitions.txt
doc/declt-user-data/definitions.png
doc/components.png
doc/components.eps
doc/declt-user-data/components.txt
doc/declt-user-data/components.png
doc/varoids.png
doc/varoids.eps
doc/declt-user-data/varoids.txt
doc/declt-user-data/varoids.png
doc/funcoids.png
doc/funcoids.eps
doc/declt-user-data/funcoids.txt
doc/declt-user-data/funcoids.png
doc/classoids.png
doc/classoids.eps
doc/declt-user-data/classoids.txt
doc/declt-user-data/classoids.png
doc/aliases.png
doc/aliases.eps
doc/declt-user-data/aliases.txt
doc/declt-user-data/aliases.png
