doc/user.pdf
doc/user.ps
doc/user/

doc/reference.pdf
doc/reference.ps
doc/reference/

doc/definitions.pdf
doc/definitions.png
doc/definitions.eps
doc/components.pdf
doc/components.png
doc/components.eps
doc/varoids.pdf
doc/varoids.png
doc/varoids.eps
doc/funcoids.pdf
doc/funcoids.png
doc/funcoids.eps
doc/classoids.pdf
doc/classoids.png
doc/classoids.eps
doc/aliases.pdf
doc/aliases.png
doc/aliases.eps
