.clisp.cnf

sbcl-*/
cmu-*/
openmcl-*/

doc/declt.make

doc/user.pdf
doc/user.pdf
doc/user.ps
doc/user/

doc/reference.texi
doc/reference.pdf
doc/reference.ps
doc/reference/

doc/webreference.texi
doc/webreference.pdf
doc/webreference/
